.cf7-smart-grid.has-grid .cf7sg-slider-section>input.wpcf7-submit{
  background:#e5b334;
  color: #111;
}
.cf7-smart-grid.has-grid .cf7sg-slider-section>input.wpcf7-submit[disabled="disabled"]{
  cursor:not-allowed;
  background: #383838;
  border: solid 1px #383838;
  border-radius: 3px;
  font-size: 110%;
  font-weight: 700;
  color: #fff;
}  
.cf7-smart-grid.has-grid .cf7sg-slider-section>input.wpcf7-submit[disabled="disabled"]:hover{
  background: #383838;
  border: solid 1px #383838;
  border-radius: 3px;
  font-size: 110%;
  font-weight: 700;
  color: #fff;
}      
.cf7sg-popup.display-none{
  display:none !important;
}                  
.wpcf7-not-valid-tip{
  display:none !important;
}
.cf7sg-collapsible[data-cf7sg="error"]{
  border:none
}
.cf7sg-container.cf7-smart-grid.has-grid.columns.container.glider-slide:nth-child(3){
  
}