.cf7sg-container .cf7-smart-grid.has-grid .mt-40{
  margin-top:40px !important;
}

.cf7sg-slider-section .cf7sg-title{
  color:white;
  font-size:1.2em;
  margin-bottom: 20px;
}                              